.chip-container {
    width: 100px;
}

.dark-background {
    background-color: black;
}
.my-box {
    border: 2px red solid;
    height: 40px;
}
.my-container {
    border: 2px green solid;
    height: 500px;
}