<!-- start/center/end/space-around/space-between/space-evenly -->
<!-- <div class="my-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="my-box">20</div>
  <div class="my-box">10</div>
  <div class="my-box">30</div>
  <div class="my-box">---</div>
</div> -->

<hr>
<div class="my-container" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="my-box" fxFlex="20">20</div>
  <div class="my-box" fxFlex="10">10</div>
  <div class="my-box" fxFlex="30">30</div>
  <div class="my-box" fxFlex>---</div>
</div>


<hr>
<button mat-raised-button>Basic</button>
<div class="chip-container">
  <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip *ngFor="let chip of availableColors" selected="true" [color]="chip.color">
      {{chip.name}}
    </mat-chip>
  </mat-chip-list>
</div>